{% extends "base.html" %}
{% load profiles_extras %}

{% block metatags %}
<title>Users</title>
{% endblock %}

{% block content %}
<h1>Users</h1>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Birthday</th>
        <th>Eligible</th>
        <th>Random Number</th>
        <th>BizzFuzz</th>
    </tr>
    {% for u in users %}
    <tr>
        <td><a href="{% url 'user' u.id %}">{{ u.username }}</a></td>
        <td>{{ u.profile.birthday }}</td>
        <td>{% allowed u.profile %}</td>
        <td>{{ u.profile.randint }}</td>
        <td>{% bizzfuzz u.profile %}</td>
    </tr>
    {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'create_user' %}">
    <span class="glyphicon glyphicon-plus"></span>
    New User
</a>

<a class="btn btn-info" href="{% url 'export_csv' %}">Download Users CSV</a>

{% endblock %}